@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@200;300;400;500;600;700;800&display=swap');

@font-face {
  font-family: 'SFDistantGalaxy';
  src: url('../fonts/sf_distant_galaxy/SFDistantGalaxyOutlineItalic.ttf');
}

@font-face {
  font-family: 'SFDistantGalaxyAlternate';
  src: url('../fonts/sf_distant_galaxy/SFDistantGalaxyAlternateItalic.ttf');
}

body {
  background-color: #161616;
  margin: 0;
  height: 100%;
  width: 100%;

  min-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.glowing-orbs {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: -2;
}

.orb {
  position: absolute;
  width: 70%;
  height: 18rem;
  border-radius: 50%;
  filter: blur(80px);
  transform: translateZ(0);
  top: -10rem;
}

.blue-orb {
  right: 30px;
  background-color: #001aff82;
  animation: 3s linear .1s alternate blue-orb-movement;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

.purple-orb {
  left: 30px;
  background-color: #00b7ff79;
  animation: 3s linear .1s alternate purple-orb-movement;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-delay: 2s;
}

.stars {
	position: fixed;
	width: 1px;
	height: 1px;
	background-color: #fff;
	z-index: 2;
}

.hobbies-container {
  max-width: 1200px;
  display: flex;
  flex-direction: column;
}

.hobbies-container h1 {
  font-family: 'SFDistantGalaxy', 'Gemunu Libre', sans-serif;
  color: #fdd81f;
  text-align: center;
  font-size: 6rem;
  margin: 4rem 0 0 0;
  width: fit-content;
  right: 0;
  left: 0;
  margin-left: auto;
  margin-right: auto;
}

.images-container {
  display: flex;
  flex-direction: row;
}

.images-container ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  padding: 1rem;
  margin: 0 1rem;
}

.images-container li {
  margin: 3rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.images-container li:nth-child(odd) {
  margin-top: 6rem;
}

.images-container img {
  max-width: 400px;
  max-height: 500px;
  object-fit: cover;
  border-radius: 1rem;
  -webkit-box-shadow: 5px 5px 15px 5px rgba(5, 218, 255, 0.55), -12px -1px 24px 0px rgba(4, 29, 255, 0.55), -12px -1px 24px 0px rgba(0, 136, 255, 0.55); 
  box-shadow: 5px 5px 15px 5px rgba(5, 218, 255, 0.55), -12px -1px 24px 0px rgba(4, 29, 255, 0.55), -12px -1px 24px 0px rgba(0, 136, 255, 0.55);  
}

.images-container h4 {
  font-family: 'SFDistantGalaxyAlternate', 'Gemunu Libre', sans-serif;
  font-size: 2rem;
  font-weight: 300;
  color: #fff;
  text-align: start;
  padding: 1rem 0rem;
  margin: 0;
}

@media screen and (max-width: 1024px) {
  .images-container img {
    max-width: 300px;
  }
}

@media screen and (max-width: 860px) {

  .hobbies-container h1 {
    font-size: 4rem;
    padding: 2rem 4rem;
    margin-bottom: 1rem;
  }

  .images-container {
    margin-bottom: 5rem;
  }

  .images-container ul {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 2rem;
    padding: 1rem;
    margin: 0 1rem;
  }

  .images-container li {
    margin: 1rem;
  }

  .images-container li:nth-child(odd) {
    margin-top: 1rem;
  }

  .images-container img {
    max-width: 100%;
  }
}

@keyframes blue-orb-movement {
  0% {
    bottom: 3rem;
  } 25% {
    bottom: 4rem;
  } 50% {
    bottom: 3rem;
  } 75% {
    bottom: 2rem;
  } 100% {
    bottom: 0rem;
  }
}

@keyframes purple-orb-movement {
  0% {
    bottom: 3rem;
  } 25% {
    bottom: 4rem;
  } 50% {
    bottom: 3rem;
  } 75% {
    bottom: 2rem;
  } 100% {
    bottom: 0rem;
  }
}