<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="og:title" content="Personal Portfolio">
    <meta property="og:description" content="My Personal Portfolio">
    <link rel="icon" type="image/ico" href="../static/img/favicon.ico">
    <link type="text/css" rel="stylesheet" href="../static/styles/about.css">
    <title>About me</title>
  </head>
  <body>
    <div class="noise-wrapper"></div>
    <div class="glowing-orbs">
      <div class="orb blue-orb"></div>
      <div class="orb purple-orb"></div>
    </div>
    {% import 'menu.html' as menu %}
    {{ menu.menu() }}
    <article>
      <section class="about-container">
        <h1>Hey! <span class="highlight">I'm Yeyo</span></h1>
        <div class="about-content-container">
          <div class="about-paragraph">
            <p>I am, a computer science student at Universidad Autónoma de Aguascalientes, Mex. I have a strong passion for software engineering and all the exciting aspects that come with it. Throughout my academic journey,<span class="highlight"> I have developed a keen interest in frontend development and ensuring websites are reliable and accessible for all users.</span></p>
            <p>In addition to my technical skills, I value collaboration and effective communication within development teams. I believe in the power of teamwork and appreciate the diverse perspectives that each team member brings to the table. Some cool facts about me:</p>
            <ul>
              <li>💻 I'm a current MLH Fellow, Production Engineer Track powered by META</li>
              <li>🌐 I love working with React and Next.js</li>
              <li>🏀 I'm a huge fan of the NBA. Go Spurs Go!</li>
              <li>🎸 I love playing rock music with my guitar</li>
            </ul>
          </div>
          <div class="about-photo">
            <img src="../static/img/avatar.jpg" alt="About Me Photo">
          </div>
        </div>
      </section>
    </article>
  </body>
</html>