<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta property="og:title" content="Personal Portfolio">
  <meta property="og:description" content="My Personal Portfolio">
  <link type="text/css" rel="stylesheet" href="../static/styles/index.css">
  <link rel="icon" type="image/ico" href="../static/img/favicon.ico">
  <title>Loading...</title>
</head>

<body>
  <section class="intro">
    A long time ago, in a galaxy far, far away....
    <br> <span>Type esc or click to skip</span>
  </section>
  <div id="scroller">
    <div id="content">
      <p id="title">Episode LXI</p>
      <p id="subtitle">Welcome to Diego's Portfolio</p>
      <br>
      <p>The journey of Diego starts back in 2019, second year of high school when he started to learn how to code.
        He started with Python, then he learned Java and C++ and finally he learned JavaScript and TypeScript.
        He is currently studying Computer Science at Universidad Autonoma de Aguascalientes and he is current MLH 
        Fellow in the Production Engineering track powered by META.
        He is also a big Star Wars fan, so he decided to make this portfolio as a tribute to the saga.
        May the force be with you!</p>
    </div>
  </div>
</body>
<script src="../static/scripts/index.js"></script>
<script src="../static/scripts/stars.js"></script>
<script src="../static/scripts/howler.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
</html>